@import 'https://fonts.googleapis.com/css?family=Slabo+27px|Suez+One';


body {
  background-color: lightblue;
  position: relative;
}
.center {
  text-align:center;
}

#sidebar {
  background-color: transparent;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.fixed{
  z-index:1;
  position:fixed;
  margin: 0 auto;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
}

a{
  border: 1px solid black;
  background-color: lightpink;
  border-style: solid;
  border-radius: 5%;
  border-color:transparent;
  text-decoration: none;
  transition: font-size 1s;
  margin: 25px;
  padding: 10px;
}

a:hover{
  background-color:fuchsia;
  font-size: 35px;
}

ul{
color: black;
list-style-type: none;
}

.inline{
display: inline;
}
p{
color:red;
font-family: serif;
font-size: 69;
}



h1{
  text-transform:uppercase;
  font-family: 'Suez One', serif;
}

h4 {
  color:Green;
}


#left-allign-font{
  text-align: left;
  font-size:200%;
  padding-left:10px;
  margin-left: 0;
  background: -moz-linear-gradient(crimson, transparent);
}

.padding-top{
  padding-top: 5000px;
}

.border{
  margin-top:5000px;
  border-style: solid;
  border-color: black;
}
.round-border{
  border-radius: 10%;
  border-style: outset;
}
.monospace{
  font-family: monospace;
  font-size: 30;
}
